<div id="root">
  <div id="quiz">
    <div id="quiz-main">
      <div class="quiz-card">
        <div class="quiz-card-content">
          <h1 class="custom-title">Question #1</h1>
          <p class="custom-description">Clue: Norse god</p>
          <form (submit)="next()">
            <svg id="svg-answer"
                  [attr.width]="squareWidth * answerArray.length"
                  [attr.height]="squareWidth"
                  xmlns="http://www.w3.org/2000/svg">
              <ng-container *ngFor="let square of answerArray; let columnIndex = index">
                <g app-square [square]="square"
                              [columnIndex]="columnIndex"
                              [squareWidth]="squareWidth" />
              </ng-container>
            </svg>
            <div class="action-buttons">
              <div class="quiz-button-container">
                <button class="x-button-large quiz-button" type="button" (click)="skip()">Back</button>
                <button class="x-button-large quiz-button" type="submit">Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>