<div id="quiz">
  <div id="quiz-main">
    <div class="quiz-card">
      <div class="quiz-card-content">
        <h1 class="main-label">Clue #{{questionIndex + 1}}</h1>
        <p class="clue">{{currentQuestion.text}}</p>
        <form (submit)="next()">
          <div id="answer-container">
            <svg id="svg-answer"
                  [attr.width]="squareWidth * answerArray.length"
                  [attr.height]="squareWidth"
                  xmlns="http://www.w3.org/2000/svg">
              <ng-container *ngFor="let square of answerArray; let columnIndex = index">
                <g app-square [square]="square"
                              [columnIndex]="columnIndex"
                              [squareWidth]="squareWidth" />
              </ng-container>
            </svg>
          </div>
          <div class="action-buttons">
            <div class="button-container">
              <button class="x-button button" type="button" (click)="skip()">Skip</button>
              <button class="x-button button" type="submit">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>