<div id="select">
  <div class="action-buttons">
    <div class="button-container">
      <div class="dropdown" [class.is-active]="topicDropdownActive">
        <div class="dropdown-trigger">
          <button class="button dropdown-button"
                  (click)="topicDropdownActive = !topicDropdownActive"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu">
            <span>{{selectedTopic}}</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a *ngFor="let t of topics" (click)="selectTopic(t)" class="dropdown-item">
              {{t}}
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown" [class.is-active]="difficultyDropdownActive">
        <div class="dropdown-trigger">
          <button class="button dropdown-button"
                  (click)="difficultyDropdownActive = !difficultyDropdownActive"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu">
            <span>{{selectedDifficulty}}</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a *ngFor="let d of difficulties" (click)="selectDifficulty(d)" class="dropdown-item">
              {{d}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <div class="button-container-single">
      <button class="x-button button" type="button" (click)="startQuiz()">Play</button>
    </div>
  </div>
</div>
