#quiz {
  color: #fff;
  grid-template-rows: 100px 1fr;
  min-height: 100%;
  height: auto;
}
#quiz-main {
  margin: var(--side-margin-mobile);
}
.quiz-card {
  padding: var(--quiz-card-padding);
  margin: 0 auto;
  max-width: 600px;
}
.clue {
  text-align: center;
  font-size: 36px;
  margin: var(--clue-margin);
  min-height: var(--custom-description-min-height);
}
#answer-container {
  text-align: center;
}
#hidden-input {
  z-index: -99999;
  position: absolute;
  width: 0.5px;
  height: 0.5px;
  border: none;
  top: 25px;
  left: 25px;
}