@import 'bulma/css/bulma.css';

/* Mobile only */
@media only screen and (max-width: 767.98px) {
  :root {
    --side-margin-mobile: 0 5%;
    --square-stroke-width: 1;
  }
}
/* all non phone */
@media only screen and (min-width: 768px) {
  :root {
    --side-margin-mobile: 0 15px;
    --square-stroke-width: 2;
  }
}
/* Mobile and Tablet (small desktop) */
@media only screen and (max-width: 1024.98px) {
  :root {
    --mobile-top-padding: 90px;
    --inner-nav-grid-template-columns: 1fr;
    --mobile-nav-margin-fix: 6px;
    --h1-font-size: 54px;
    --h1-line-height: 56px;
    --billboard-padding-top: var(--mobile-top-padding);
    --billboard-grid-template-areas: "title"
                                     "subtitle"
                                     "button";
    --billboard-grid-template-rows: 1fr 55px 55px;
    --billboard-grid-template-columns: 1fr;
    --howitworks-grid-template-areas: "one"
                                      "two"
                                      "three";
    --howitworks-grid-template-columns: 1fr;
    --howitworks-grid-template-rows: repeat(3, 1fr);
    --sample-puzzle-download-inner-rows: 200px 50px 100px;
    --download-sample-button-width: 60%;
    --clue-ideas-grid-template-areas: "places"
                                      "pets"
                                      "sports"
                                      "books"
                                      "family"
                                      "anything";

    --pricing-grid-template-areas: "pricingtable";
    --pricing-grid-template-columns: 1fr;
    --pricing-grid-template-rows: 150px 1fr;
    --pricing-summary-padding-top: 0;
    --pricing-table-margin: 0 -25px;
    --quiz-card-padding: var(--mobile-top-padding) 0 350px 0;
    --input-subtext-container-columns: 1fr;
    --input-subtext-container-rows: 1fr 1fr;
    --word-validation-error-alignment: left;
    --quiz-button-large-columns: 45% 45%;
    --quiz-button-gap: 5%;
    --home-rows: 550px /* billboard */
                 850px /* how it works */
                 500px /* sample download */
                 1200px/* clue ideas */
                 1100px /* pricing */
                 100px;/* footer */
    --review-padding: var(--mobile-top-padding) 0 100px 0;
    --custom-title-min-height: 120px;
    --custom-description-min-height: 85px;
    --side-margin-review: 0;
    --email-input-min-width: 80%;
    --email-input-margin-left: 0;
  }
  .desktop-only {
    display: none !important;
  }
  body {
    overflow-x: hidden !important;
  }
  #root {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
/* All non mobile */
@media only screen and (min-width: 1025px) {
  :root {
    --inner-nav-grid-template-columns: 1fr 1fr;
    --mobile-nav-margin-fix: 0px;
    --h1-font-size: 76px;
    --h1-line-height: 78px;
    --quiz-card-padding: 250px 0 350px 0;
    --input-subtext-container-columns: 1fr 1fr;
    --input-subtext-container-rows: 1fr;
    --quiz-button-large-columns: 175px 175px;
    --quiz-button-gap: 40px;
    --custom-title-min-height: 60px;
    --custom-description-min-height: 54px;
    --side-margin-review: 0 auto;
  }
  .mobile-only {
    display: none !important;
  }
}
#root {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --primary-color: #00abe7;
  --primary-color-dark: #00698f;
  --background-light: #fdfdfe;
  --background-dark: #24292e;
  --color-grey: #6c6c77;
  --error-color: #f9dcdc;
  background-color: var(--background-light);
  height: 100%;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h1 {
  color: black;
  margin: 0;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: 1.2px;
  font-weight: 600;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.main-label {
  color: #fff;
  font-size: 52px;
  letter-spacing: 1.4px;
  line-height: 60px;
  margin-bottom: 20px;
  min-height: var(--custom-title-min-height);
}
.error {
  background-color: var(--error-color) !important;
}
.error-text {
  color: var(--error-color) !important;
}
.x-button {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  box-sizing: content-box;
  padding: 4px 24px;
  border-radius: 40px;
  background-color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .6px;
  border: none;
  cursor: pointer;
  outline: none;
}
.x-button-large {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 32px;
  border-radius: 26px;
  background-color: var(--primary-color);
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: .8px;
  border: none;
  cursor: pointer;
  outline: none;
}
.action-buttons {
  margin-top: var(--action-buttons-top-margin);
}
.button-container-single {
  margin-top: 80px;
  display: grid;
  justify-content: center;
}
.button {
  background-color: var(--primary-color-dark);
}
.button-container {
  margin-top: 80px;
  display: grid;
  justify-content: center;
  gap: var(--quiz-button-gap);
  grid-template-columns: 125px 125px;
}
.button-large-container {
  display: grid;
  justify-content: center;
  gap: var(--quiz-button-gap);
  grid-template-columns: var(--quiz-button-large-columns);
}